name: Build Android and iOS

on: push

jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup caching
        uses: actions/cache@v3
        with:
          path: node_modules
          key: cache-${{ runner.OS }}-${{ hashFiles('**/*.lock') }}
          restore-keys: |
            cache-${{ runner.OS }}-
      - name: Install dependencies
        run: |
          yarn
      - name: Run tests
        run: |
          yarn lint
          yarn test
  build-android:
    needs: install-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup caching
        uses: actions/cache@v3
        with:
          path: node_modules
          key: cache-${{ runner.OS }}-${{ hashFiles('**/*.lock') }}
          restore-keys: |
            cache-${{ runner.OS }}-
      - name: Install dependencies
        run: |
          yarn
      - name: Prepare for building
        env:
          SECRET_PASSWORD: ${{ secrets.SECRET_PASSWORD }}
        run: |
          openssl aes-256-cbc -k "$SECRET_PASSWORD" -in android/app/THUInfo.jks.enc -out android/app/THUInfo.jks -d
      - name: Build android release
        uses: gradle/gradle-build-action@v2
        env:
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
          ANDROID_STORE_PASSWORD: ${{ secrets.ANDROID_STORE_PASSWORD }}
        with:
          arguments: assembleRelease
          build-root-directory: android
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: app-release.apk
          path: android/app/build/outputs/apk/release/app-release.apk
      - name: Prepare for release
        id: prepare_release
        if: startsWith(github.ref, 'refs/tags')
        run: |
          export ref='${{ github.ref }}'
          export tag=${ref:10}
          echo "::set-output name=tag::$tag"
          mv android/app/build/outputs/apk/release/app-release.apk android/app/build/outputs/apk/release/THUInfo_release_$tag.apk
      - name: Deploy to App Center
        if: startsWith(github.ref, 'refs/tags')
        uses: wzieba/AppCenter-Github-Action@v1
        with:
          appName: UNIDY/THUInfo
          token: ${{ secrets.APP_CENTER_TOKEN }}
          group: CD
          file: android/app/build/outputs/apk/release/THUInfo_release_${{ steps.prepare_release.outputs.tag }}.apk
      - name: Create Release
        if: startsWith(github.ref, 'refs/tags')
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body_path: ./release
      - name: Upload to GitHub release
        if: startsWith(github.ref, 'refs/tags')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: android/app/build/outputs/apk/release/THUInfo_release_${{ steps.prepare_release.outputs.tag }}.apk
          asset_name: THUInfo_release_${{ steps.prepare_release.outputs.tag }}.apk
          asset_content_type: 'application/vnd.android.package-archive'
  build-ios:
    needs: install-and-test
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup caching
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            ios/DerivedData
            ios/Pods
          key: cache-${{ runner.OS }}-${{ hashFiles('**/*.lock') }}
          restore-keys: |
            cache-${{ runner.OS }}-
      - name: Install dependencies
        run: |
          yarn
          cd ios && pod install && cd ..
          echo '### Summary of command `pod-install`' >> $GITHUB_STEP_SUMMARY
          echo 'Content of `Podfile.lock`:' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat ios/Podfile.lock >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
      - uses: Apple-Actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.CERTIFICATES_FILE_BASE64 }}
          p12-password: ${{ secrets.CERTIFICATES_PASSWORD }}
      - uses: Apple-Actions/download-provisioning-profiles@v1
        name: provisioning
        with:
          bundle-id: org.reactjs.native.example.thu-info
          issuer-id: ${{ secrets.APPSTORE_ISSUER_ID }}
          api-key-id: ${{ secrets.APPSTORE_KEY_ID }}
          api-private-key: ${{ secrets.APPSTORE_PRIVATE_KEY }}
      - name: Output provisioning files
        run: echo ${{ steps.provisioning.outputs.profiles }}
      - name: Build ios app
        run: |
          export APP_VERSION="$(node -e "console.log(require('./package.json').version)")"
          cd ios && xcodebuild archive -workspace thu_info.xcworkspace -scheme thu_info -configuration Release -derivedDataPath ./DerivedData -archivePath $PWD/Archives/thu_info.xcarchive IPHONEOS_DEPLOYMENT_TARGET=11.0 CODE_SIGNING_ALLOWED=NO MARKETING_VERSION="${APP_VERSION}" CURRENT_PROJECT_VERSION="${GITHUB_RUN_NUMBER}" && cd ..
