name: Build Android and iOS

on: push

jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Setup caching
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            */*/node_modules
          key: cache-${{ runner.OS }}-${{ hashFiles('**/*.lock') }}
          restore-keys: |
            cache-${{ runner.OS }}-
      - name: Install dependencies
        run: |
          yarn
      - name: Run tests
        run: |
          yarn workspace @thu-info/app lint
          yarn workspace @thu-info/app test
  build-android:
    needs: install-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "corretto"
          java-version: "17"
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Setup caching
        if: startsWith(github.ref, 'refs/tags') == false
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            */*/node_modules
          key: cache-${{ runner.OS }}-${{ hashFiles('**/*.lock') }}
          restore-keys: |
            cache-${{ runner.OS }}-
      - name: Install dependencies
        run: |
          yarn
      - name: Prepare for building
        env:
          SECRET_PASSWORD: ${{ secrets.SECRET_PASSWORD }}
        run: |
          openssl aes-256-cbc -k "$SECRET_PASSWORD" -in apps/thu-info-app/android/app/THUInfo.jks.enc -out apps/thu-info-app/android/app/THUInfo.jks -d
      - name: Build android release
        uses: gradle/gradle-build-action@v2
        env:
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
          ANDROID_STORE_PASSWORD: ${{ secrets.ANDROID_STORE_PASSWORD }}
          SIGNATURE_DIGEST: ${{ secrets.SIGNATURE_DIGEST }}
        with:
          arguments: assembleRelease
          build-root-directory: apps/thu-info-app/android
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: app-release.apk
          path: apps/thu-info-app/android/app/build/outputs/apk/release/app-release.apk
      - name: Prepare for release
        id: prepare_release
        if: startsWith(github.ref, 'refs/tags')
        run: |
          export ref='${{ github.ref }}'
          export tag=${ref:10}
          echo "::set-output name=tag::$tag"
          mv apps/thu-info-app/android/app/build/outputs/apk/release/app-release.apk THUInfo_release_${tag}.apk
      - name: Prepare for building (allow rooted)
        run: |
          sed -i "/preventRoot/d" apps/thu-info-app/android/app/src/main/java/com/unidy2002/thuinfo/MainApplication.kt
      - name: Build android release (allow rooted)
        uses: gradle/gradle-build-action@v2
        env:
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
          ANDROID_STORE_PASSWORD: ${{ secrets.ANDROID_STORE_PASSWORD }}
          SIGNATURE_DIGEST: ${{ secrets.SIGNATURE_DIGEST }}
        with:
          arguments: assembleRelease
          build-root-directory: apps/thu-info-app/android
      - name: Upload artifact (allow rooted)
        uses: actions/upload-artifact@v3
        with:
          name: app-release-allow-rooted.apk
          path: apps/thu-info-app/android/app/build/outputs/apk/release/app-release.apk
      - name: Prepare for release (allow rooted)
        if: startsWith(github.ref, 'refs/tags')
        run: |
          export ref='${{ github.ref }}'
          export tag=${ref:10}
          mv apps/thu-info-app/android/app/build/outputs/apk/release/app-release.apk THUInfo_release_${tag}_allow_rooted.apk
      - name: Create Release
        if: startsWith(github.ref, 'refs/tags')
        uses: softprops/action-gh-release@v1
        with:
          body_path: ./release-notes.md
          files: |
            THUInfo_release_${{ steps.prepare_release.outputs.tag }}.apk
            THUInfo_release_${{ steps.prepare_release.outputs.tag }}_allow_rooted.apk
  build-ios:
    needs: install-and-test
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Setup caching
        if: startsWith(github.ref, 'refs/tags') == false
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            */*/node_modules
            apps/thu-info-app/ios/Pods
            apps/thu-info-app/ios/DerivedData
            vendor/bundle
          key: cache-${{ runner.OS }}-${{ hashFiles('**/*.lock') }}
          restore-keys: |
            cache-${{ runner.OS }}-
      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.1
      - name: Setup cpp toolchains
        run: |
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
          ln -s $(which ccache) /usr/local/bin/gcc
          ln -s $(which ccache) /usr/local/bin/g++
          ln -s $(which ccache) /usr/local/bin/cc
          ln -s $(which ccache) /usr/local/bin/c++
          ln -s $(which ccache) /usr/local/bin/clang
          ln -s $(which ccache) /usr/local/bin/clang++
      - name: Install dependencies
        run: |
          yarn
          bundle install
          cd apps/thu-info-app/ios && pod update hermes-engine --no-repo-update && pod install && cd ../../..
      - name: Commit lockfile changes
        if: endsWith(github.ref, 'master') == true
        continue-on-error: true
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add Gemfile.lock apps/thu-info-app/ios/Podfile.lock
          git commit -m "chore: lockfile maintenance"
      - name: Push lockfile changes
        if: endsWith(github.ref, 'master') == true
        uses: ad-m/github-push-action@master
        with:
          branch: ${{ github.ref }}
        continue-on-error: true
      - name: SSH setting up
        run: |
          echo "${{ secrets.CERTIFICATE_REPO_PRIVATE_KEY }}" | tr -d "\r" | ssh-add - > /dev/null
      - name: Restore git timestamps
        run: python3 git-restore-mtime.py --force
      - name: Set IgnoreFileSystemDeviceInodeChanges flag
        run: defaults write com.apple.dt.XCBuild IgnoreFileSystemDeviceInodeChanges -bool YES
      - name: Update beta
        run: export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH" && cd apps/thu-info-app/ios && fastlane beta
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
          APPSTORE_API_PRIVATE_KEY: ${{ secrets.APPSTORE_API_PRIVATE_KEY }}
          APPSTORE_API_PRIVATE_KEY_ID: ${{ secrets.APPSTORE_API_PRIVATE_KEY_ID }}
          APPSTORE_ISSUER_ID: ${{ secrets.APPSTORE_ISSUER_ID }}
          IgnoreFileSystemDeviceInodeChanges: 1
          CLANG: clang
          CLANGPLUSPLUS: clang++
          LD: clang
          LDPLUSPLUS: clang++
      - name: Update beta again
        run: |
          export CCACHE_SLOPPINESS=clang_index_store,file_stat_matches,include_file_ctime,include_file_mtime,ivfsoverlay,pch_defines,modules,system_headers,time_macros
          export CCACHE_FILECLONE=true
          export CCACHE_DEPEND=true
          export CCACHE_INODECACHE=true
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH" && ccache --zero-stats && cd apps/thu-info-app/ios && xcodebuild -workspace ./thu_info.xcworkspace -scheme thu_info -derivedDataPath ./DerivedData -destination 'generic/platform=iOS' -archivePath /Users/runner/Library/Developer/Xcode/Archives/2023-11-16/thu_info\ 2023-11-16\ 02.44.13.xcarchive archive | tee /Users/runner/Library/Logs/gym/thu_info-thu_info.log | xcpretty
          ccache -s
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
          APPSTORE_API_PRIVATE_KEY: ${{ secrets.APPSTORE_API_PRIVATE_KEY }}
          APPSTORE_API_PRIVATE_KEY_ID: ${{ secrets.APPSTORE_API_PRIVATE_KEY_ID }}
          APPSTORE_ISSUER_ID: ${{ secrets.APPSTORE_ISSUER_ID }}
          CLANG: clang
          CLANGPLUSPLUS: clang++
          LD: clang
          LDPLUSPLUS: clang++
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: thu_info.ipa
          path: apps/thu-info-app/ios/thu_info.ipa
