name: Test and Publish

on: push

jobs:
  unit-test-and-style-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup caching
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            */*/node_modules
          key: cache-${{ runner.OS }}-${{ hashFiles('**/*.lock') }}
          restore-keys: |
            cache-${{ runner.OS }}-
      - name: Install dependencies
        run: |
          yarn
      - name: Run tests
        env:
          INFO_USER_ID: ${{ secrets.INFO_USER_ID }}
          INFO_PASSWORD: ${{ secrets.INFO_PASSWORD }}
        run: |
          yarn workspace @thu-info/lib lint
        #  yarn workspace @thu-info/lib test
      - name: Build demo
        run: |
          yarn workspace @thu-info/lib build-dist
      - name: Upload demo
        uses: actions/upload-artifact@v5
        with:
          name: demo
          path: ./packages/thu-info-lib/demo/
  build-and-publish:
    needs: unit-test-and-style-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup caching
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            */*/node_modules
          key: cache-${{ runner.OS }}-${{ hashFiles('**/*.lock') }}
          restore-keys: |
            cache-${{ runner.OS }}-
      - name: Install dependencies
        run: |
          yarn
      - name: Build library
        run: |
          yarn workspace @thu-info/lib build
      - name: Prepare for publishing
        if: startsWith(github.ref, 'refs/tags')
        id: prepare_publish
        run: |
          export ref='${{ github.ref }}'
          export tag=${ref:11}
          echo "::set-output name=tag::$tag"
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Publish to NPM
        if: startsWith(github.ref, 'refs/tags')
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          TAG: ${{ steps.prepare_publish.outputs.tag }}
        run: |
          yarn workspace @thu-info/lib prepare:ci
          yarn workspace @thu-info/lib publish --new-version $TAG
